/* src/components/ExperienceList.module.css */
.experienceList {
  padding: 2rem;
  background-color: transparent; /* Fondo transparente */
}

.title {
  font-size: 2.4rem;
  color: var(--blanco);
  margin-bottom: 2rem;
  text-align: center;
}
