/* Header.module.css */
.headerHeader {
    background-color: var(--secundario);
    background-color: rgba(0, 0, 0, 0.5); /* 50% de transparencia */
    padding: 20px;
    text-align: center;
}

.titleHeader {
    color: var(--blanco);
    font-size: 3.8rem;
    margin:  0;
}

.titleSpan{
    font-size: 2rem;
    margin-left: 10px;
}