/* src/components/Video.module.css */
.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Asegura que el video esté detrás de todo */
  overflow: hidden;
}

.backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra todo el fondo */
  filter: brightness(50%) saturate(1.2); /* Ajusta el brillo y la saturación para mejor visibilidad */
  transition: filter 0.3s ease; /* Transición suave para ajustes de filtro */
}

@media (max-width: 768px) {
  .backgroundVideo {
    filter: brightness(40%) saturate(1.3);
  }
}

@media (min-width: 1200px) {
  .backgroundVideo {
    filter: brightness(60%) saturate(1.1);
  }
}
